header {
	text-align: center;
	background: hsl(0, 0%, 94%);
	color: hsl(0, 0%, 40%);
}
.top-bar {
	padding: var(--spacer);
	background: hsl(120, 100%, 20%);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	text-align: left;
}
.logo {
	flex: 0 0 auto;
	height: 80px;
	width: auto;
}
.title-main {
	flex: 1 1 auto;
	color: hsl(0, 0%, 94%);
	padding: calc(var(--spacer) / 2) var(--spacer);
	padding-right: 0;
	margin-left: var(--spacer);
	border-left: 1px solid #eee;
	font-weight: bold;
	font-size: 32px;
}
header p {
	width: clamp(50%, 800px, 100%);
	margin: 0 auto 15px;
}
header h2 {
	color: hsl(220, 13%, 15%);
	font-size: 24px;
}
header h2 span {
	color: hsl(120, 100%, 25%);
	font-size: 28px;
	font-weight: bold;
}
/**
* Fund amount
*/
.fund-amount {
	display: inline-flex;
	align-items: center;
	background-color: hsl(120, 100%, 20%);
}