/* -------------------------
 * General style
------------------------- */
:root {
  --spacer: 12px;
  /* --clr-primary-hsl: 101, 100%, 35%;
  --clr-dark-hsl: 220, 13%, 18%; */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: hsl(220, 13%, 18%);
  color: hsl(0, 0%, 67%);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
img, svg {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 87%);
  font-weight: 500;
  line-height: 1.2;
}
a, button {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;
}
ul, ol {
  padding-left: 16px;
}
section {
  padding: 50px 0;
}
/* -------------------------
 * Custom Classes
------------------------- */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.p-base {
  padding: var(--spacer);
}
.py-base {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
}
.px-base {
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}
.pl-base {
  padding-left: var(--spacer);
}
.pr-base {
  padding-right: var(--spacer);
}
.pt-base {
  padding-top: var(--spacer);
}
.pb-base {
  padding-bottom: var(--spacer);
}
.my-base {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}
.mt-base {
  margin-top: var(--spacer);
}
.mb-base {
  margin-bottom: var(--spacer);
}